.nav{
    color:rgb(15, 15, 15);
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    flex-direction: row;
    padding:20px;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    
}


.homeText{
    text-align: center;
}
.logo{
    font-size: 25px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.nav_link{
    color: black;
    font-family: "Quicksand", sans-serif;
}
